@using Framework.Application
@model List<SM.Application.Contract.Order.Models.OrderItemViewModel>
@{
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">آیتم‌های سفارش</h4>
</div>

<div class="modal-body">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>محصول</th>
            <th>تعداد</th>
            <th>قیمت واحد</th>
            <th>درصد تخفیف</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var operation in Model)
        {
            <tr>
                <td>@operation.Product</td>
                <td>@operation.Count</td>
                <td>@operation.UnitPrice.ToMoney()</td>
                <td>@operation.DiscRate%</td>
            </tr>
        }
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
</div>